.country{
    
   
    border: 2px solid rgb(19, 119, 96);
    background-color: aquamarine;
    border-radius: 20px;
    padding: 20px;
}
#countries{
    display: -ms-grid;
}
.countries{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 15px;
}